.App {
	padding-top: 7%;
}
@media only screen and (max-width: 768px) {
	.App {
		padding-top: 30%;
	}
}
.center {
	padding-left: 12%;
	padding-right: 12%;
	background-color: #3975eb;
}

.App-search {
	margin-top: 20px;
	margin-bottom: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 50px;
	border: 2px solid #ffff;
	position: fixed;
}

.App-search > input {
	width: 90%;
	height: 100%;
	border: none;
	background-color: #70707041;
	padding-left: 2%;
}
.App-search > input::placeholder {
	color: #ffff;
	font-weight: 600;
	font-size: medium;
	padding-left: 2%;
}

.App-search > button {
	width: 10%;
	height: 100%;
	border: none;
	background-color: #70707041;
	color: #ffff;
	font-weight: 600;
	font-size: medium;
	cursor: pointer;
}

.white {
	color: #ffff;
}
.card-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.load {
	display: flex;
	justify-content: center;
}

.load > button {
	background-color: #70707041;
	color: #ffff;
	font-weight: 600;
	font-size: medium;
	width: 20%;
	height: 50px;
	border: 2px solid #ffff;
	margin: 2%;
	cursor: pointer;
}
